<script src="/javascripts/jquery.autoresize.js" type="text/javascript"></script>
<script>
	$(document).ready(function(){
		$("#page_body").autoResize({
			onResize : function() {
				$(this).css({opacity: 0.8});
			},
			animateCallback : function() {
				$(this).css({opacity: 1});
			},
			animateDuration : 300,
			extraSpace : 40
		});

		$("#page_body").trigger("keydown",{
			"which":37 // Left arrow, pretty harmless
		});

		$("#page_style").autoResize({
			onResize : function() {
				$(this).css({opacity: 0.8});
			},
			animateCallback : function() {
				$(this).css({opacity: 1});
			},
			animateDuration : 300,
			extraSpace : 40
		});

		$("#page_style").trigger("keydown",{
			"which":37 // Left arrow, pretty harmless
		});
	});
</script>
<h2><%= legend %></h2>
<p>
	Some sort of explaination text can go here. Or not.
</p>
<% form_for [:admin, @page] do |f| %>
	<fieldset>
		<p>
			<label for="page_title">Page Title:</label>
			<%= f.text_field :title, :class => "text small" %>
		</p>

		<p>
			<label for="page_body">Page Body:</label>
			<%= f.text_area :body, :class => "text large" %>
		</p>

		<%= render :partial => "picture_selector" %>

		<p>
			<label for="page_style">Page Style:</label>
			<%= f.text_area :style, :class => "text large" %>
		</p>

		<p>
			<label for="page_meta_description">Meta Description:</label>
			<%= f.text_field :meta_description, :class => "text medium" %>
		</p>

		<p>
			<label for="page_meta_keywords">Meta Keywords:</label>
			<%= f.text_field :meta_keywords, :class => "text medium" %>
		</p>

		<p>
			<label for="page_is_index"><%= f.check_box :is_index, {}, 1, 0 %> This is the index page.</label>
		</p>

		<p>
			<label for="page_display_order">Display Order:</label>
			<%= f.text_field :display_order, :class => "text small" %>
		</p>

		<p>
			<label for="page_parent_id">Parent Page:</label>
			<%= f.collection_select :parent_id, HierarchySorter.new(Page.find(:all)).sorted_array, :id, :get_dropdown_title, :include_blank => "Please Select", :class => "small" %>
		</p>

		<br />

		<%= submit_tag "Submit", :class => "submit" %>
	</fieldset>
<% end %>
