<% form_tag edit_multiple_admin_pages_path, :id => "page_index_form" do %>
	<div class="container_12">
		<h2>Pages</h2>
		<p>
			This is a list of all the site's pages. From here you can view, modify, or delete any page.
		</p>
		<div class="clearfix">&nbsp;</div>
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tbody>
				<tr class="even">
					<th scope="col">
						<input class="check_all" type="checkbox">
					</th>
					<th scope="col">
						<% if params[:sort] == "id" and params[:order] == "ASC" %>
							<%= link_to("ID", admin_pages_path(:order => "DESC", :sort => :id)) %>
						<% else %>
							<%= link_to("ID", admin_pages_path(:order => "ASC", :sort => :id)) %>
						<% end %>
					</th>
					<th scope="col">
						<% if params[:sort] == "parent_id" and params[:order] == "ASC" %>
							<%= link_to("Parent ID", admin_pages_path(:order => "DESC", :sort => :parent_id)) %>
						<% else %>
							<%= link_to("Parent ID", admin_pages_path(:order => "ASC", :sort => :parent_id)) %>
						<% end %>
					</th>
					<th scope="col">
						<% if params[:sort] == "title" and params[:order] == "ASC" %>
							<%= link_to("Title", admin_pages_path(:order => "DESC", :sort => :title)) %>
						<% else %>
							<%= link_to("Title", admin_pages_path(:order => "ASC", :sort => :title)) %>
						<% end %>
					</th>
					<th scope="col">
						<% if params[:sort] == "display_order" and params[:order] == "ASC" %>
							<%= link_to("Display Order", admin_pages_path(:order => "DESC", :sort => :display_order)) %>
						<% else %>
							<%= link_to("Display Order", admin_pages_path(:order => "ASC", :sort => :display_order)) %>
						<% end %>
					</th>
					<th scope="col">
						<% if params[:sort] == "created_at" and params[:order] == "ASC" %>
							<%= link_to("Created At", admin_pages_path(:order => "DESC", :sort => :created_at)) %>
						<% else %>
							<%= link_to("Created At", admin_pages_path(:order => "ASC", :sort => :created_at)) %>
						<% end %>
					</th>
					<th scope="col">
						<% if params[:sort] == "updated_at" and params[:order] == "ASC" %>
							<%= link_to("Updated At", admin_pages_path(:order => "DESC", :sort => :updated_at)) %>
						<% else %>
							<%= link_to("Updated At", admin_pages_path(:order => "ASC", :sort => :updated_at)) %>
						<% end %>
					</th>
					<th scope="col">
						Actions
					</th>
				</tr>
				<% even_row = false %>
				<% for page in @pages %>
					<%if even_row %><tr class="even"><% else %><tr><% end %><% even_row = !even_row %>
						<td scope="col">
							<%= check_box_tag "page_ids[]", page.id %>
						</td>
						<td scope="col"><%= link_to(page.id, admin_page_path(page)) %></td>
						<td scope="col"><% if page.parent %><%= link_to(page.parent_id, admin_page_path(page.parent)) %><% else %>---<% end %></td>
						<td scope="col"><%= link_to(page.title, admin_page_path(page)) %></td>
						<td scope="col"><%= page.display_order %></td>
						<td scope="col"><%= page.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
						<td scope="col"><%= page.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
						<td scope="col">
							<%= link_to image_tag(image_path("icons/16x16/edit.png"), :border => "0", :title => "Edit", :alt => "Edit"), edit_admin_page_path(page) %>
							<%= link_to image_tag(image_path("icons/16x16/remove.png"), :border => "0", :title => "Delete", :alt => "Delete"), admin_page_path(page), :method => :delete, :confirm => "Are you sure you want to delete this page? This action cannot be undone!" %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<div class="grid_12">
			<div class="clearfix">&nbsp;</div>
			<div id="pagination">
				<%= will_paginate @pages %>
			</div>
		</div>
		<div class="clearfix">&nbsp;</div>
	</div>
<% end %>
