<h2>Showing Page: <%= @page.title %></h2>
<h4>Body:</h4>
<p class="show">
	<% if !@page.body.blank? %>
		<%= h(@page.body) %>
	<% end %>
</p>
<h4>CSS Style:</h4>
<p class="show">
	<% if !@page.style.blank? %>
		<%= h(@page.style) %>
	<% end %>
</p>
<h4>Display Order: <%= @page.display_order %></h4>
<h4>Created at: <%= @page.created_at.strftime("%Y-%m-%d %H:%M:%S") %></h4>
<h4>Last Updated at: <%= @page.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></h4>
<p class="show">
	<%= link_to("Edit Page", edit_admin_page_path(@page)) %> |
	<%= link_to("Delete Page", admin_page_path(@page), :method => :delete, :confirm => "Are you sure you want to delete this page? This action cannot be undone!") %>
</p>
