<h2><%= legend %></h2>
<p>
	Some sort of explaination text can go here. Or not.
</p>
<% form_for [:admin, @agent] do |f| %>
	<fieldset>
		<p>
			<label for="agent_person_id">Attach to User:</label>
			<%= f.collection_select :person_id, Person.find(:all), :id, :name, :include_blank => "Please Select", :class => "small" %>
		</p>

		<p>
			<label for="agent_picture_id">Agent Photo:</label>
			<%= f.collection_select :picture_id, Picture.find(:all), :id, :id_with_title, :include_blank => "Please Select", :class => "small" %>
		</p>

		<p>
			<label for="agent_title">Title:</label>
			<%= f.text_field :title, :class => "text small" %>
		</p>

		<p>
			<label for="agent_display_email_address">Display E-mail Address:</label>
			<%= f.text_field :display_email_address, :class => "text small" %>
		</p>

		<p>
			<label for="agent_display_phone_number">Display Phone Number:</label>
			<%= f.text_field :display_phone_number, :class => "text small" %>
		</p>

		<p>
			<label for="agent_website_url">Website URL:</label>
			<%= f.text_field :website_url, :class => "text small" %>
		</p>

		<p>
			<label for="agent_facebook_url">Facebook URL:</label>
			<%= f.text_field :facebook_url, :class => "text small" %>
		</p>

		<p>
			<label for="agent_twitter_url">Twitter URL:</label>
			<%= f.text_field :twitter_url, :class => "text small" %>
		</p>

		<p>
			<label for="agent_linked_in_url">Linked-In URL:</label>
			<%= f.text_field :linked_in_url, :class => "text small" %>
		</p>

		<p>
			<label for="active_rain_url">Active Rain URL:</label>
			<%= f.text_field :active_rain_url, :class => "text small" %>
		</p>

		<p>
			<label for="agent_youtube_url">Youtube URL:</label>
			<%= f.text_field :youtube_url, :class => "text small" %>
		</p>

		<p>
			<label for="bio_body">Bio Body:</label>
			<%= f.text_area :bio_body, :class => "text large" %>
		</p>

		<p>
			<label for="bio_style">Bio Style:</label>
			<%= f.text_area :bio_style, :class => "text large" %>
		</p>

		<p>
			<label for="license_number">License Number:</label>
			<%= f.text_field :license_number, :class => "text small" %>
		</p>

		<p>
			<label for="agent_years_of_experience">Years of Experience:</label>
			<%= f.text_field :years_of_experience, :class => "text small" %>
		</p>

		<p>
			<label for="agent_join_date">Join Date:</label>
			<%= f.text_field :join_date, :id => "join_date", :class => "text small" %>
		</p>

		<%= stylesheet_link_tag "jquery-ui-1.8.12.custom.css" %>
		<%= javascript_include_tag "jquery-ui-1.8.12.custom.min.js" %>
		<%= javascript_include_tag "jquery-ui-timepicker-addon.js" %>
		<script>
			$(document).ready(function() {
				$('#join_date').datetimepicker();
			});
		</script>

		<p>
			<label for="mls_name1">MLS Search Name 1:</label>
			<%= f.text_field :mls_name1, :class => "text small" %>
		</p>

		<p>
			<label for="mls_name2">MLS Search Name 2:</label>
			<%= f.text_field :mls_name2, :class => "text small" %>
		</p>

		<label for="agent_designations">Designations</label>
		<div id="designations_selector">
			<div class="designation">
				<%= image_tag(image_path("designations/abr.png")) %><%= f.check_box :abr_designation, {}, 1, 0 %><br />
				Accredited Buyer's Representative
			</div>
			<div class="designation">
				<%= image_tag(image_path("designations/abrm.png")) %><%= f.check_box :abrm_designation, {}, 1, 0 %><br />
				Accredited Buyer Representative Manager
			</div>
			<div class="designation">
				<%= image_tag(image_path("designations/ahwd.png")) %><%= f.check_box :ahwd_designation, {}, 1, 0 %><br />
				At Home With Diversity
			</div>
			<div class="designation">
				<%= image_tag(image_path("designations/alc.png")) %><%= f.check_box :alc_designation, {}, 1, 0 %><br />
				Accredited Land Consultant
			</div>
			<div class="designation">
				<%= image_tag(image_path("designations/alhs.png")) %><%= f.check_box :alhs_designation, {}, 1, 0 %><br />
				Accredited Luxury Home Specialist
			</div>
			<div class="designation">
				<%= image_tag(image_path("designations/ccim.png")) %><%= f.check_box :ccim_designation, {}, 1, 0 %><br />
				Certified Commercial Investment Member
			</div>
			<div class="designation">
				<%= image_tag(image_path("designations/cdpe.png")) %><%= f.check_box :cdpe_designation, {}, 1, 0 %><br />
				Certified Distressed Property Expert
			</div>
			<div class="designation">
				<%= image_tag(image_path("designations/cips.png")) %><%= f.check_box :cips_designation, {}, 1, 0 %><br />
				Certified International Property Specialist
			</div>
			<div class="designation">
				<%= image_tag(image_path("designations/cpm.png")) %><%= f.check_box :cpm_designation, {}, 1, 0 %><br />
				Certified Property Manager
			</div>
			<div class="designation">
				<%= image_tag(image_path("designations/crb.png")) %><%= f.check_box :crb_designation, {}, 1, 0 %><br />
				Certified Real Estate Brokerage Manager
			</div>
			<div class="designation">
				<%= image_tag(image_path("designations/cre.png")) %><%= f.check_box :cre_designation, {}, 1, 0 %><br />
				Counselor of Real Estate
			</div>
			<div class="designation">
				<%= image_tag(image_path("designations/crs.png")) %><%= f.check_box :crs_designation, {}, 1, 0 %><br />
				Certified Residential Specialist
			</div>
			<div class="designation">
				<%= image_tag(image_path("designations/epro.png")) %><%= f.check_box :epro_designation, {}, 1, 0 %><br />
				e-PRO
			</div>
			<div class="designation">
				<%= image_tag(image_path("designations/gaa.png")) %><%= f.check_box :gaa_designation, {}, 1, 0 %><br />
				General Accredited Appraiser
			</div>
			<div class="designation">
				<%= image_tag(image_path("designations/green.png")) %><%= f.check_box :green_designation, {}, 1, 0 %><br />
				Green
			</div>
			<div class="designation">
				<%= image_tag(image_path("designations/gri.png")) %><%= f.check_box :gri_designation, {}, 1, 0 %><br />
				Graduate Realtor Institute
			</div>
			<div class="designation">
				<%= image_tag(image_path("designations/ihlm.png")) %><%= f.check_box :ihlm_designation, {}, 1, 0 %><br />
				Institute for Home Luxury Marketing Certification
			</div>
			<div class="designation">
				<%= image_tag(image_path("designations/ires.png")) %><%= f.check_box :ires_designation, {}, 1, 0 %><br />
				International Real Estate Specialist
			</div>
			<div class="designation">
				<%= image_tag(image_path("designations/pmn.png")) %><%= f.check_box :pmn_designation, {}, 1, 0 %><br />
				Performance Management Network
			</div>
			<div class="designation">
				<%= image_tag(image_path("designations/raa.png")) %><%= f.check_box :raa_designation, {}, 1, 0 %><br />
				Residential Accredited Appraiser
			</div>
			<div class="designation">
				<%= image_tag(image_path("designations/rce.png")) %><%= f.check_box :rce_designation, {}, 1, 0 %><br />
				Realtor Association Certified Executive
			</div>
			<div class="designation">
				<%= image_tag(image_path("designations/repa.png")) %><%= f.check_box :repa_designation, {}, 1, 0 %><br />
				Real Estate Professional Assistant
			</div>
			<div class="designation">
				<%= image_tag(image_path("designations/rsps.png")) %><%= f.check_box :rsps_designation, {}, 1, 0 %><br />
				Resort and Second-Home Property Specialist
			</div>
			<div class="designation">
				<%= image_tag(image_path("designations/sfr.png")) %><%= f.check_box :sfr_designation, {}, 1, 0 %><br />
				Short Sales & Foreclosure Resource
			</div>
			<div class="designation">
				<%= image_tag(image_path("designations/sior.png")) %><%= f.check_box :sior_designation, {}, 1, 0 %><br />
				Society of Industrial and Office Realtors
			</div>
			<div class="designation">
				<%= image_tag(image_path("designations/sres.png")) %><%= f.check_box :sres_designation, {}, 1, 0 %><br />
				Seniors Real Estate Specialist
			</div>
			<div class="designation">
				<%= image_tag(image_path("designations/tahs.png")) %><%= f.check_box :tahs_designation, {}, 1, 0 %><br />
				Texas Affordable Housing Specialist
			</div>
			<div class="designation">
				<%= image_tag(image_path("designations/trc.png")) %><%= f.check_box :trc_designation, {}, 1, 0 %><br />
				Transnational Referral Certification
			</div>
		</div>
		<br />
		<%= submit_tag "Submit", :class => "submit" %>
	</fieldset>
<% end %>
