<% if !@blogs.nil? and !@blogs.empty? %>
	<div id="blog_posts_container">
		<% for blog in @blogs %>
			<div class="blog_post">
				<h2 class="typeface-js">
					<% if !blog.title.nil? %>
						<%= blog.title %>
					<% else %>
						Post #<%= blog.id %>
					<% end %>
				</h2>
				<div class="blog_post_info">
					<div class="blog_post_info_poster typeface-js">
						Posted by <%= blog.person.first_name %>
					</div>
					<div class="blog_post_info_date typeface-js">
						<%= blog.created_at.strftime("at %l:%M %p on %b %d, %Y") %>
					</div>
				</div>
				<div class="blog_post_body">
					<%= truncate(blog.body, 1024) %>
				</div>
				<div class="blog_post_read_more">
					<%= link_to("Read More", blog_path(blog)) %>
				</div>
			</div>
		<% end %>
	</div>
	<div class="pagination">
		<%= will_paginate @blogs %>
	</div>
<% end %>
