<% for agent_resource in @agent_resources %>
	<div id="agent-resource-<%= agent_resource.id %>" class="agent-resource">
		<div class="agent-resource-download-link">
			<% if !agent_resource.resource_filename.blank? %>
				<% if !agent_resource.picture.nil? %>
					<%= link_to(image_tag(image_path(agent_resource.picture.image_path)), get_file_agent_agent_resource_path(agent_resource), :target => "_blank") %>
				<% else %>
					<%= link_to(image_tag(image_path("icons/128x128/attachment.png")), get_file_agent_agent_resource_path(agent_resource), :target => "_blank") %>
				<% end %>
			<% end %>
			<% if !agent_resource.external_url.blank? %>
				<% if !agent_resource.picture.nil? %>
					<%= link_to(image_tag(image_path(agent_resource.picture.image_path)), agent_resource.external_url, :target => "_blank") %>
				<% else %>
					<%= link_to(image_tag(image_path("icons/128x128/link.png")), agent_resource.external_url, :target => "_blank") %>
				<% end %>
			<% end %>
		</div>
		<div class="agent-resource-info">
			<div class="agent-resource-name">
				<%= agent_resource.name %>
			</div>
			<div class="agent-resource-format-and-time">
				<% if !agent_resource.resource_filename.blank? %>
					<% if !agent_resource.extension.blank? %>
						Format: <%= agent_resource.extension.upcase %>
					<% else %>
						Format: Unknown
					<% end %>
				<% end %>
				Created at: <%= agent_resource.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
			</div>
			<div id="agent-resource-description">
				<%= agent_resource.description %>
			</div>
		</div>
	</div>
<% end %>
