<div class="container_12">
	<h2><%= @agent_resource.name %></h2>
	<div id="agent_resource_description">
		<%= @agent_resource.description %>
	</div>
	<div id="agent_resource_link">
		<% if !@agent_resource.resource_filename.blank? %>
			<% if !@agent_resource.picture.nil? %>
				<%= link_to(image_tag(image_path(@agent_resource.picture.image_path)), get_file_agent_agent_resource_path(@agent_resource)) %>
			<% else %>
				<%= link_to(image_tag(image_path("icons/128x128/attachment.png")), get_file_agent_agent_resource_path(@agent_resource)) %>
			<% end %>
		<% end %>
		<% if !@agent_resource.external_url.blank? %>
			<% if !@agent_resource.picture.nil? %>
				<%= link_to(image_tag(image_path(@agent_resource.picture.image_path)), @agent_resource.external_url) %>
			<% else %>
				<%= link_to(image_tag(image_path("icons/128x128/link.png")), @agent_resource.external_url) %>
			<% end %>
		<% end %>

		<% if !@agent_resources.empty?  and @agent_resources.length > 1 %>
			<% for agent_resource in @agent_resources %>
				<% if !agent_resource.resource_filename.blank? %>
					<%= link_to("Download as #{agent_resource.extension}", get_file_agent_agent_resource_path(@agent_resource)) %><br />
				<% end %>
			<% end %>
		<% else %>
			<% if !@agent_resource.resource_filename.blank? %>
				<%= link_to("Download", get_file_agent_agent_resource_path(@agent_resource)) %>
			<% end %>
		<% end %>
	</div>
</div>
