<!--<% if !@featured_listings.nil? and !@featured_listings.empty? %>
	<div id="listings_top_controls">
		<div class="listings_pagination">
			<%= will_paginate @featured_listings %>
		</div>
	</div>
	<div id="listings_container">
		<% for listing in @featured_listings %>
			<div class="listing_container">
				<div class="listing_picture">
					<% if !listing[:pictures].blank? %>
						<%= link_to(image_tag(listing[:pictures].split(",")[0]), listing_path(listing[:mls_number])) %>
					<% else %>
						<%= link_to(image_tag("no-picture-available.png"), listing_path(listing[:mls_number])) %>
					<% end %>
					<br />
					<%= link_to("More Pictures", "http://www.cedarealty.idxco.com/idx/9610/photoGallery.php?idxID=074&listingID=" + listing[:mls_number]) %>
				</div>
				<div class="listing_info">
					<div class="listing_address">
						<%= listing[:street_address] %>, <%= listing[:city] %>, <% @state_names[listing[:state]] %> <%= listing[:zipcode] %>
					</div>
					<div class="listing_stats">
						Price: $<%= number_with_delimiter(listing[:price], :delimiter => ',') %><br />
						Bedrooms: <%= listing[:bedrooms] %><br />
						Bathrooms: <%= listing[:bathrooms] %><br />
						Square Feet: <%= listing[:square_feet] %>
					</div>
					<div class="listing_description">
						<%= listing[:description] %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
	<div id="listings_bottom_controls">
		<div class="listings_pagination">
			<%= will_paginate @featured_listings %>
		</div>
	</div>
<% end %>-->
<div id="listings_container">
	<h2 class="typeface-js">Listings</h2>
	<iframe src="http://www.cedarealty.idxco.com/idx/9610/featured.php" id="iframe" scrolling="no" height="2500px" width="687px" frameBorder="0"></iframe>
	<script>
		window.onload = function(){
			var win = document.getElementById("iframe").contentWindow;

			win.postMessage( "testing 1 2 3", "*" );

			function receiveMessage(event) {
				document.getElementById("iframe").height= event.data + "px";
			}

			window.addEventListener("message", receiveMessage, false);

			function resizeEverySecond() {
				var iframe = document.getElementById("iframe").contentWindow;

				iframe.postMessage( "testing 1 2 3", "*" );
			}

			window.setInterval(resizeEverySecond, 1000);
		};
	</script>
</div>
