<!--<div id="show_listing">
	<h2>
		<%= @listing[:street_address] %>, <%= @listing[:city] %>, <% @state_names[@listing[:state]] %> <%= @listing[:zipcode] %>
	</h2>


					<%= link_to("More Pictures", "http://www.cedarealty.idxco.com/idx/9610/photoGallery.php?idxID=074&listingID=" + @listing[:mls_number]) %>
					<div class="listing_stats">
						Price: $<%= number_with_delimiter(@listing[:price], :delimiter => ',') %><br />
						Bedrooms: <%= @listing[:bedrooms] %><br />
						Bathrooms: <%= @listing[:bathrooms] %><br />
						Square Feet: <%= @listing[:square_feet] %>
					</div>
					<div class="listing_description">
						<%= @listing[:description] %>
					</div>
</div>-->

<div id="mls_search">
	<h2 class="typeface-js">Property Info</h2>
	<!--[if IE]>
	<iframe src="http://www.cedarealty.idxco.com/idx/9610/details.php?idxID=074&listingID=<%= params[:id] %>" id="iframe" scrolling="yes" height="1000px" width="687px" frameBorder="0"></iframe>
	<![endif]-->
	<![if !IE]>
	<iframe src="http://www.cedarealty.idxco.com/idx/9610/details.php?idxID=074&listingID=<%= params[:id] %>" id="iframe" scrolling="no" height="2500px" width="687px" frameBorder="0"></iframe>
  <script>
	window.onload = function(){
		var win = document.getElementById("iframe").contentWindow;

		win.postMessage( "testing 1 2 3", "*" );

		function receiveMessage(event) {
			document.getElementById("iframe").height= event.data + "px";
		}

		window.addEventListener("message", receiveMessage, false);

		function resizeEverySecond() {
			var iframe = document.getElementById("iframe").contentWindow;

			iframe.postMessage( "testing 1 2 3", "*" );
		}

		window.setInterval(resizeEverySecond, 1000);
	};
	</script>
</div>
