<table>
	<tbody>
		<tr>
			<th class="lefttop-radius">
				ID
			</th>
			<th>
				User
			</th>
			<th>
				IP Address
			</th>
			<th>
				Type
			</th>
			<th>
				Description
			</th>
			<th class="righttop-radius">
				Actions
			</th>
		</tr>
		<% even_row = false %>
		<% for logger_event in @logger_events %>
			<%if even_row %><tr class="t-color"><% else %><tr><% end %><% even_row = !even_row %>
				<td>
					<a onclick="return loadpage('<%= admin_logger_event_path(logger_event) %>');"><%= logger_event.id %></a>
				</td>
				<td>
					<% if !logger_event.person.nil? %>
						<%= link_to(logger_event.person.name, admin_person_path(logger_event)) %>
					<% else %>
						None
					<% end %>
				</td>
				<td>
					<%= logger_event.ip_address %>
				</td>
				<td>
					<%= logger_event.event_type %>
				</td>
				<td class="showonlyup">
					<%= truncate(logger_event.description, 48) %>
				</td>
				<td class="showonlyland">
					<%= truncate(logger_event.description, 64) %>
				</td>
				<td class="center">
					<%= link_to image_tag(image_path("icons/16x16/remove.png"), :title => "Delete", :alt => "Delete"), admin_logger_event_path(logger_event), :method => :delete, :confirm => "Are you sure you want to delete this logger event? This action cannot be undone!" %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
<%= will_paginate @logger_events, :renderer => 'AjaxLinkRenderer' %>
