<h2>ID:</h2>
<div><%= @logger_event.id %></div>
<h2>User:</h2>
<div>
	<% if !page.parent_id.blank? and !page.parent.nil? %>
		<a onclick="return loadpage('<%= admin_page_path(page.parent) %>');"><%= page.parent_id %></a>
	<% else %>
		-
	<% end %>
</div>
<h2>Type:</h2>
<div><%= @logger_event.type %></div>
<h2>Description:</h2>
<div><%= @logger_event.description %></div>
<h2>Created at: <%= @page.created_at.strftime("%Y-%m-%d %H:%M:%S") %></h2>
<div>
	<%= link_to("Delete Logger Event", admin_logger_event_path(@logger_event), :method => :delete, :confirm => "Are you sure you want to delete this logger event? This action cannot be undone!") %>
</div>
