<% form_for [:agent, @person] do |f| %>
	<fieldset>
		<p>
			<label for="person_name">Login Name</label>
			<%= f.text_field :name, :class => "text small" %>
		</p>
		<p>
			<label for="person_password">Password</label>
			<%= f.password_field :password, :class => "text small" %>
		</p>
		<p>
			<label for="person_password_confirmation">Password Confirmation</label>
			<%= f.password_field :password_confirmation, :class => "text small" %>
		</p>
		<p>
			<label for="person_email">E-mail</label>
			<%= f.text_field :email_address, :class => "text small" %>
		</p>
		<p>
			<label for="person_email_confirmation">E-mail Confirmation</label>
			<%= f.text_field :email_address_confirmation, :value => @person.email_address, :class => "text small" %>
		</p>
		<p>
			<label for="person_first_name">First Name</label>
			<%= f.text_field :first_name, :class => "text small" %>
		</p>
		<p>
			<label for="person_last_name">Last Name</label>
			<%= f.text_field :last_name, :class => "text small" %>
		</p>
		<p>
			<label for="person_phone_number">Phone Number</label>
			<%= f.text_field :phone_number, :class => "text small" %>
		</p>
		<br />
		<%= submit_tag "Submit", :class => "submit" %>
	</fieldset>
<% end %>
