<% form_tag edit_multiple_admin_agent_resources_path, :id => "agent_resource_index_form" do %>
	<div class="container_12">
		<h2>Agent Resources</h2>
		<div class="clearfix">&nbsp;</div>
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tbody>
				<tr class="even">
					<th scope="col">
						<input class="check_all" type="checkbox">
					</th>
					<th scope="col">
						<% if params[:sort] == "id" and params[:order] == "ASC" %>
							<%= link_to("ID", admin_agent_resources_path(:order => "DESC", :sort => :id)) %>
						<% else %>
							<%= link_to("ID", admin_agent_resources_path(:order => "ASC", :sort => :id)) %>
						<% end %>
					</th>
					<th scope="col">
						<% if params[:sort] == "name" and params[:order] == "ASC" %>
							<%= link_to("Name", admin_agent_resources_path(:order => "DESC", :sort => :name)) %>
						<% else %>
							<%= link_to("Name", admin_agent_resources_path(:order => "ASC", :sort => :name)) %>
						<% end %>
						</th>
					<th scope="col">
						<% if params[:sort] == "category" and params[:order] == "ASC" %>
							<%= link_to("Category", agent_agent_resources_path(:order => "DESC", :sort => :category, :category => params[:category])) %>
						<% else %>
							<%= link_to("Category", agent_agent_resources_path(:order => "ASC", :sort => :category, :category => params[:category])) %>
						<% end %>
					</th>
					<th scope="col">
						<% if params[:sort] == "description" and params[:order] == "ASC" %>
							<%= link_to("Description", admin_agent_resources_path(:order => "DESC", :sort => :description)) %>
						<% else %>
							<%= link_to("Description", admin_agent_resources_path(:order => "ASC", :sort => :description)) %>
						<% end %>
					</th>
					<th scope="col">
						<% if params[:sort] == "person_id" and params[:order] == "ASC" %>
							<%= link_to("Uploaded By", admin_agent_resources_path(:order => "DESC", :sort => :person_id)) %>
						<% else %>
							<%= link_to("Uploaded By", admin_agent_resources_path(:order => "ASC", :sort => :person_id)) %>
						<% end %>
					</th>
					<th scope="col">
						<% if params[:sort] == "created_at" and params[:order] == "ASC" %>
							<%= link_to("Created At", admin_agent_resources_path(:order => "DESC", :sort => :created_at)) %>
						<% else %>
							<%= link_to("Created At", admin_agent_resources_path(:order => "ASC", :sort => :created_at)) %>
						<% end %>
					</th>
					<th scope="col">
						<% if params[:sort] == "updated_at" and params[:order] == "ASC" %>
							<%= link_to("Updated At", admin_agent_resources_path(:order => "DESC", :sort => :updated_at)) %>
						<% else %>
							<%= link_to("Updated At", admin_agent_resources_path(:order => "ASC", :sort => :updated_at)) %>
						<% end %>
					</th>
					<th scope="col">
						Actions
					</th>
				</tr>
				<% even_row = false %>
				<% for agent_resource in @agent_resources %>
					<%if even_row %><tr class="even"><% else %><tr><% end %><% even_row = !even_row %>
						<td scope="col">
							<%= check_box_tag "agent_resource_ids[]", agent_resource.id %>
						</td>
						<td scope="col"><%= link_to(agent_resource.id, admin_agent_resource_path(agent_resource)) %></td>
						<td scope="col"><%= link_to(agent_resource.name, admin_agent_resource_path(agent_resource)) %></td>
						<td scope="col"><%= link_to(agent_resource.category, agent_agent_resources_path(:category => agent_resource.category)) %></td>
						<td scope="col"><%= truncate(agent_resource.description, 64) %></td>
						<td scope="col">
							<% if !agent_resource.person_id.nil? and !agent_resource.person.nil? %>
								<%= link_to(agent_resource.person.first_name + " " + agent_resource.person.last_name, admin_person_path(agent_resource.person)) %>
							<% else %>
								Unknown
							<% end %>
						</td>
						<td scope="col"><%= agent_resource.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
						<td scope="col"><%= agent_resource.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
						<td scope="col">
							<%= link_to image_tag(image_path("icons/16x16/edit.png"), :border => "0", :title => "Edit", :alt => "Edit"), edit_admin_agent_resource_path(agent_resource) %>
							<%= link_to image_tag(image_path("icons/16x16/remove.png"), :border => "0", :title => "Delete", :alt => "Delete"), admin_agent_resource_path(agent_resource), :method => :delete, :confirm => "Are you sure you want to delete this resource? This action cannot be undone!" %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<div class="grid_12">
			<div class="clearfix">&nbsp;</div>
			<div id="pagination">
				<%= will_paginate @agent_resources %>
			</div>
		</div>
		<div class="clearfix">&nbsp;</div>
	</div>
<% end %>
