<%= javascript_include_tag "jquery.validationEngine-en.js" %>
<%= javascript_include_tag "jquery.validationEngine.js" %>
<%= stylesheet_link_tag "validationEngine.jquery.css" %>
<script>
	$(document).ready(function(){
		$("#contact_form").validationEngine('attach');
	});
</script>
<div id="agent_contact_form_container">
	<h2 class="typeface-js">Contact <%= @agent.person.first_name %></h2>
	<p>If you have any questions or just want to get in touch use the form below to drop <%= @agent.person.first_name %> a line.</p>
	<% form_tag send_message_agent_path(params[:id]), :id => "contact_form" do %>
		<fieldset>
			<p>
				<label for="name">Name:</label>
				<%= text_field_tag "name", "", :class => "contact_form_text_input validate[required]" %>
			</p>
			<p>
				<label for="email_address">E-mail Address:</label>
				<%= text_field_tag "email_address","", :class => "contact_form_text_input validate[required,custom[email]]" %>
			</p>
			<p>
				<label for="phone_number">Phone Number:</label>
				<%= text_field_tag "phone_number","", :class => "contact_form_text_input validate[required,custom[phone]]" %>
			</p>
			<p>
				<label for="subject">Subject:</label>
				<%= text_field_tag "subject", "", :class => "contact_form_text_input validate[required]" %>
			</p>
			<p>
				<label for="message">Message:</label>
				<%= text_area_tag "message", "", :rows => 10, :class => "contact_form_textarea validate[required]" %>
			</p>
			<p>
				<input class="button submit" name="commit" type="submit" value="Submit" />
			</p>
		</fieldset>
	<% end %>
</div>
