<div id="agent_container">
	<div id="agent_header" class="typeface-js">
		<div id="agent_name">
			<%= @agent.person.first_name %> <%= @agent.person.last_name %>
		</div>
		<div id="agent_social">
			<% if !@agent.facebook_url.blank? %>
				<%= link_to(image_tag("facebook.png"), @agent.facebook_url) %>
			<% end %>
			<% if !@agent.twitter_url.blank? %>
				<%= link_to(image_tag("twitter.png"), @agent.twitter_url) %>
			<% end %>
			<% if !@agent.linked_in_url.blank? %>
				<%= link_to(image_tag("linked-in.png"), @agent.linked_in_url) %>
			<% end %>
			<% if !@agent.active_rain_url.blank? %>
				<%= link_to(image_tag("active-rain.png"), @agent.active_rain_url) %>
			<% end %>
		</div>
	</div>
	<div id="agent_main">
		<% if !@agent.title.blank? %>
			<div id="agent_title">
				<%= @agent.title %>
			</div>
		<% end %>
		<div id="agent_contact">
			<% if !@agent.display_phone_number.blank? %>
				<%= link_to(@agent.display_phone_number, "tel:" + @agent.display_phone_number) %>
			<% else %>
				<%= link_to(@agent.person.phone_number, "tel:" + @agent.person.phone_number) %>
			<% end %>
			<% if !@agent.website_url.blank? %>
				|
				<%= link_to("View " + @agent.person.first_name + "'s Website", @agent.website_url) %>
			<% end %>
			|
			<% if !@agent.display_email_address.blank? %>
				<%= link_to(@agent.display_email_address, "mailto:" + @agent.display_email_address) %>
			<% else %>
				<%= link_to(@agent.person.email_address, "mailto:" + @agent.person.email_address) %>
			<% end %>
			|
			<%= link_to("Contact " + @agent.person.first_name, contact_agent_path(@agent)) %>
		</div>
		<div id="agent_bio">
			<% if !@agent.bio_style.blank? %>
				<style>
					<%= @agent.bio_style %>
				</style>
			<% end %>
			<div id="agent_bio_body">
				<%= @agent.bio_body %>
			</div>
			<% if !@agent.youtube_url.blank? %>
				<div id="agent_youtube_video">
					<iframe title="YouTube video player" width="480" height="390" src="http://www.youtube.com/embed/<%= @agent.youtube_url %>" frameborder="0" allowfullscreen></iframe>
				</div>
			<% end %>
		</div>
	</div>
	<div id="agent_sidebar">
		<div id="agent_picture">
			<% if !@agent.picture.nil? and !@agent.picture.image_path.blank? %>
				<%= image_tag(image_path(@agent.picture.image_path), :alt => @agent.picture.alt_text) %>
			<% else %>
				<%= image_tag(image_path("agent-no-picture-available.jpg"), :alt => @agent.person.first_name + " " + @agent.person.last_name) %>
			<% end %>

			<% if @agent.has_designations? %>
				<div id="agent_designations">
					<h2 class="typeface-js"><%= @agent.person.first_name %>'s<br />Designations</h2>
					<% if @agent.abr_designation %>
						<%= image_tag(image_path("designations/abr.png"), :title => "Accredited Buyer's Representative") %>
					<% end %>
					<% if @agent.abrm_designation %>
						<%= image_tag(image_path("designations/abrm.png"), :title => "Accredited Buyer's Representative Manager") %>
					<% end %>
					<% if @agent.ahwd_designation %>
						<%= image_tag(image_path("designations/ahwd.png"), :title => "At Home With Diversity") %>
					<% end %>
					<% if @agent.alc_designation %>
						<%= image_tag(image_path("designations/alc.png"), :title => "Accredited Land Consultant") %>
					<% end %>
					<% if @agent.alhs_designation %>
						<%= image_tag(image_path("designations/alhs.png"), :title => "Accredited Luxury Home Specialist") %>
					<% end %>
					<% if @agent.ccim_designation %>
						<%= image_tag(image_path("designations/ccim.png"), :title => "Certified Commercial Investment Member") %>
					<% end %>
					<% if @agent.cdpe_designation %>
						<%= image_tag(image_path("designations/cdpe.png"), :title => "Certified Distressed Property Expert") %>
					<% end %>
					<% if @agent.cips_designation %>
						<%= image_tag(image_path("designations/cips.png"), :title => "Certified International Property Specialist") %>
					<% end %>
					<% if @agent.cpm_designation %>
						<%= image_tag(image_path("designations/cpm.png"), :title => "Certified Property Manager") %>
					<% end %>
					<% if @agent.crb_designation %>
						<%= image_tag(image_path("designations/crb.png"), :title => "Certified Real Estate Brokerage Manager") %>
					<% end %>
					<% if @agent.cre_designation %>
						<%= image_tag(image_path("designations/cre.png"), :title => "Counselor of Real Estate") %>
					<% end %>
					<% if @agent.crs_designation %>
						<%= image_tag(image_path("designations/crs.png"), :title => "Certified Residential Specialist") %>
					<% end %>
					<% if @agent.epro_designation %>
						<%= image_tag(image_path("designations/epro.png"), :title => "e-Pro") %>
					<% end %>
					<% if @agent.gaa_designation %>
						<%= image_tag(image_path("designations/gaa.png"), :title => "General Accredited Appraiser") %>
					<% end %>
					<% if @agent.green_designation %>
						<%= image_tag(image_path("designations/green.png"), :title => "Green") %>
					<% end %>
					<% if @agent.gri_designation %>
						<%= image_tag(image_path("designations/gri.png"), :title => "Graduate Realtor Institute") %>
					<% end %>
					<% if @agent.ihlm_designation %>
						<%= image_tag(image_path("designations/ihlm.png"), :title => "Institute for Home Luxury Marketing Certification") %>
					<% end %>
					<% if @agent.ires_designation %>
						<%= image_tag(image_path("designations/ires.png"), :title => "International Real Estate Specialist") %>
					<% end %>
					<% if @agent.pmn_designation %>
						<%= image_tag(image_path("designations/pmn.png"), :title => "Performance Management Network") %>
					<% end %>
					<% if @agent.raa_designation %>
						<%= image_tag(image_path("designations/raa.png"), :title => "Residential Accredited Appraiser") %>
					<% end %>
					<% if @agent.rce_designation %>
						<%= image_tag(image_path("designations/rce.png"), :title => "Realtor Association Certified Execution") %>
					<% end %>
					<% if @agent.repa_designation %>
						<%= image_tag(image_path("designations/repa.png"), :title => "Real Estate Professional Assistant") %>
					<% end %>
					<% if @agent.rsps_designation %>
						<%= image_tag(image_path("designations/rsps.png"), :title => "Resort and Second-Home Property Specialist") %>
					<% end %>
					<% if @agent.sfr_designation %>
						<%= image_tag(image_path("designations/sfr.png"), :title => "Short Sales & Foreclosure Resource") %>
					<% end %>
					<% if @agent.sior_designation %>
						<%= image_tag(image_path("designations/sior.png"), :title => "Society of Industrial and Office Realtors") %>
					<% end %>
					<% if @agent.sres_designation %>
						<%= image_tag(image_path("designations/sres.png"), :title => "Seniors Real Estate Specialist") %>
					<% end %>
					<% if @agent.tahs_designation %>
						<%= image_tag(image_path("designations/tahs.png"), :title => "Texas Affordable Housing Specialist") %>
					<% end %>
					<% if @agent.trc_designation %>
						<%= image_tag(image_path("designations/trc.png"), :title => "Transnational Referral Certification") %>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
</div>
<% if !@listings.nil? and !@listings.empty? %>
	<div id="agent_listings">
		<h2 class="typeface-js"><%= @agent.person.first_name %> <%= @agent.person.last_name %>'s Listings</h2>
		<% left = 1 %>
		<% for listing in @listings %>
			<div class="<% if left == 1 %>agent_listing_left<% left = 0 %><% else %>agent_listing_right<% left = 1 %><% end %>">
				<div class="agent_listing_picture">
					<% if !listing[:pictures].blank? %>
						<%= link_to(image_tag(listing[:pictures].split(",")[0]), listing_path(listing[:mls_number])) %>
					<% else %>
						<%= link_to(image_tag("no-picture-available.png"), listing_path(listing[:mls_number])) %>
					<% end %>
				</div>
				<div class="agent_listing_info">
					<div class="agent_listing_address">
						<%= listing[:street_address] %>
					</div>
					<div class="agent_listing_price">
						$<%= number_with_delimiter(listing[:price], :delimiter => ",") %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
<% end %>
