<nav id="main">
	<ul>
		<li>
			<a onclick="return loadpage('<%= edit_agent_person_path(@user) %>');">
				<div class="image">
					<%= image_tag(image_path("icons/128x128/user.png"), :alt => "Account Settings") %>
				</div>
				<div class="title">
					Account Settings
				</div>
			</a>
		</li>
		<% if !@user.agent.nil? %>
		<li>
				<a onclick="return loadpage('<%= edit_agent_agent_path(@user.agent) %>');">
				<div class="image">
					<%= image_tag(image_path("icons/128x128/comment-edit.png"), :alt => "Edit Your Bio") %>
				</div>
				<div class="title">
					Edit Your Bio
				</div>
			</a>
		</li>
		<% end %>
		<li>
			<a onclick="return alert('Coming Soon!');">
				<div class="image">
					<%= image_tag(image_path("icons/128x128/user-comments.png"), :alt => "Message Board") %>
				</div>
				<div class="title">
					Message Board
				</div>
			</a>
		</li>
		<li>
			<a onclick="return loadpage('<%= agent_agent_resources_path(:category => "Buyers") %>');">
				<div class="image">
					<%= image_tag(image_path("icons/128x128/attachment.png"), :alt => "Buyers") %>
				</div>
				<div class="title">
					Buyers
				</div>
			</a>
		</li>
		<li>
			<a onclick="return loadpage('<%= agent_agent_resources_path(:category => "Sellers") %>');">
				<div class="image">
					<%= image_tag(image_path("icons/128x128/attachment.png"), :alt => "Sellers") %>
				</div>
				<div class="title">
					Sellers
				</div>
			</a>
		</li>
		<li>
			<a onclick="return loadpage('<%= agent_agent_resources_path(:category => "CEDA Docs") %>');">
				<div class="image">
					<%= image_tag(image_path("icons/128x128/attachment.png"), :alt => "CEDA Docs") %>
				</div>
				<div class="title">
					CEDA Docs
				</div>
			</a>
		</li>
		<li>
			<a onclick="return loadpage('<%= agent_agent_resources_path(:category => "CEDA Marketing") %>');">
				<div class="image">
					<%= image_tag(image_path("icons/128x128/attachment.png"), :alt => "CEDA Marketing") %>
				</div>
				<div class="title">
					CEDA Marketing
				</div>
			</a>
		</li>
		<li>
			<a onclick="return loadpage('<%= agent_agent_resources_path(:category => "CEDA Group Services") %>');">
				<div class="image">
					<%= image_tag(image_path("icons/128x128/attachment.png"), :alt => "CEDA Group") %>
				</div>
				<div class="title">
					CEDA Group
				</div>
			</a>
		</li>
		<li>
			<a onclick="return loadpage('<%= agent_agent_resources_path(:category => "CEDA Links") %>');">
				<div class="image">
					<%= image_tag(image_path("icons/128x128/attachment.png"), :alt => "CEDA Links") %>
				</div>
				<div class="title">
					CEDA Links
				</div>
			</a>
		</li>
	</ul>
</nav>
