<div id="icondock" class="grid_12">
	<ul>
		<li>
			<% content_tag(:a, :href => agent_agent_resources_path(:category => "Buyers"), :rel => "tipsy", :title => "Buyers resources.") do %>
				<%= image_tag(image_path("icons/32x32/attachment.png")) %><br />
				Buyers
			<% end %>
		</li>
		<li>
			<% content_tag(:a, :href => agent_agent_resources_path(:category => "Sellers"), :rel => "tipsy", :title => "Sellers resources.") do %>
				<%= image_tag(image_path("icons/32x32/attachment.png")) %><br />
				Sellers
			<% end %>
		</li>
		<li>
			<% content_tag(:a, :href => agent_agent_resources_path(:category => "CEDA Docs"), :rel => "tipsy", :title => "CEDA documents and forms.") do %>
				<%= image_tag(image_path("icons/32x32/attachment.png")) %><br />
				CEDA Docs
			<% end %>
		</li>
		<li>
			<% content_tag(:a, :href => agent_agent_resources_path(:category => "CEDA Marketing"), :rel => "tipsy", :title => "CEDA marketing information and resources.") do %>
				<%= image_tag(image_path("icons/32x32/attachment.png")) %><br />
				CEDA Marketing
			<% end %>
		</li>
		<li>
			<% content_tag(:a, :href => agent_agent_resources_path(:category => "CEDA Group Services"), :rel => "tipsy", :title => "Links to CEDA's partners.") do %>
				<%= image_tag(image_path("icons/32x32/attachment.png")) %><br />
				CEDA Group
			<% end %>
		</li>
		<li>
			<% content_tag(:a, :href => agent_agent_resources_path(:category => "CEDA Links"), :rel => "tipsy", :title => "Links to useful websites.") do %>
				<%= image_tag(image_path("icons/32x32/attachment.png")) %><br />
				CEDA Links
			<% end %>
		</li>
	</ul>
</div>
