<% form_tag edit_multiple_admin_people_path, :id => "people_index_form" do %>
	<div class="container_12">
		<h2>Users</h2>
		<p>
			This is a list of all the site's users. From here you can view, modify, or delete any user whose privilege level is below your own.
		</p>
		<div class="clearfix">&nbsp;</div>
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tbody>
				<tr class="even">
					<th scope="col">
						<input class="check_all" type="checkbox">
					</th>
					<th scope="col">
						<% if params[:sort] == "id" and params[:order] == "ASC" %>
							<%= link_to("ID", admin_people_path(:order => "DESC", :sort => :id)) %>
						<% else %>
							<%= link_to("ID", admin_people_path(:order => "ASC", :sort => :id)) %>
						<% end %>
					</th>
					<th scope="col">
						<% if params[:sort] == "name" and params[:order] == "ASC" %>
							<%= link_to("User Name", admin_people_path(:order => "DESC", :sort => :name)) %>
						<% else %>
							<%= link_to("User Name", admin_people_path(:order => "ASC", :sort => :name)) %>
						<% end %>
					</th>
					<th scope="col">
						<% if params[:sort] == "first_name" and params[:order] == "ASC" %>
							<%= link_to("First Name", admin_people_path(:order => "DESC", :sort => :first_name)) %>
						<% else %>
							<%= link_to("First Name", admin_people_path(:order => "ASC", :sort => :first_name)) %>
						<% end %>
					</th>
					<th scope="col">
						<% if params[:sort] == "last_name" and params[:order] == "ASC" %>
							<%= link_to("Last Name", admin_people_path(:order => "DESC", :sort => :last_name)) %>
						<% else %>
							<%= link_to("Last Name", admin_people_path(:order => "ASC", :sort => :last_name)) %>
						<% end %>
					</th>
					<th scope="col">
						<% if params[:sort] == "email_address" and params[:order] == "ASC" %>
							<%= link_to("E-mail", admin_people_path(:order => "DESC", :sort => :email_address)) %>
						<% else %>
							<%= link_to("E-mail", admin_people_path(:order => "ASC", :sort => :email_address)) %>
						<% end %>
					</th>
					<th scope="col">
						<% if params[:sort] == "phone_number" and params[:order] == "ASC" %>
							<%= link_to("Phone Number", admin_people_path(:order => "DESC", :sort => :phone_number)) %>
						<% else %>
							<%= link_to("Phone Number", admin_people_path(:order => "ASC", :sort => :phone_number)) %>
						<% end %>
					</th>
					<th scope="col">
						<% if params[:sort] == "privilege_level" and params[:order] == "ASC" %>
							<%= link_to("Privilege Level", admin_people_path(:order => "DESC", :sort => :privilege_level)) %>
						<% else %>
							<%= link_to("Privilege Level", admin_people_path(:order => "ASC", :sort => :privilege_level)) %>
						<% end %>
					</th>
					<th scope="col">
						<% if params[:sort] == "ip_addresses" and params[:order] == "ASC" %>
							<%= link_to("IP Addresses", admin_people_path(:order => "DESC", :sort => :ip_addresses)) %>
						<% else %>
							<%= link_to("IP Addresses", admin_people_path(:order => "ASC", :sort => :ip_addresses)) %>
						<% end %>
					</th>
					<th scope="col">
						<% if params[:sort] == "created_at" and params[:order] == "ASC" %>
							<%= link_to("Created At", admin_people_path(:order => "DESC", :sort => :created_at)) %>
						<% else %>
							<%= link_to("Created At", admin_people_path(:order => "ASC", :sort => :created_at)) %>
						<% end %>
					</th>
					<th scope="col">
						<% if params[:sort] == "updated_at" and params[:order] == "ASC" %>
							<%= link_to("Updated At", admin_people_path(:order => "DESC", :sort => :updated_at)) %>
						<% else %>
							<%= link_to("Updated At", admin_people_path(:order => "ASC", :sort => :updated_at)) %>
						<% end %>
					</th>
					<th scope="col">
						<% if params[:sort] == "last_login" and params[:order] == "ASC" %>
							<%= link_to("Last Login", admin_people_path(:order => "DESC", :sort => :last_login)) %>
						<% else %>
							<%= link_to("Last Login", admin_people_path(:order => "ASC", :sort => :last_login)) %>
						<% end %>
					</th>
					<th scope="col">
						Actions
					</th>
				</tr>
				<% even_row = false %>
				<% for person in @people %>
					<%if even_row %><tr class="even"><% else %><tr><% end %><% even_row = !even_row %>
						<td scope="col">
							<% if @user.id == person.id or @user.privilege_level > person.privilege_level %>
								<%= check_box_tag "people_ids[]", person.id %>
							<% else %>
								<%= check_box_tag "people_ids[]", person.id, false, :disabled => true %>
							<% end %>
						</td>
						<td scope="col"><%= link_to(person.id, admin_person_path(person)) %></td>
						<td scope="col"><%= link_to(person.name, admin_person_path(person)) %></td>
						<td scope="col"><%= person.first_name %></td>
						<td scope="col"><%= person.last_name %></td>
						<td scope="col"><a href="mailto:<%= person.email_address %>"><%= person.email_address %></a></td>
						<td scope="col"><%= person.phone_number %></td>
						<td scope="col"><%= person.privilege_level %></td>
						<td scope="col">
							<% if !person.ip_addresses.blank?
								ips = person.ip_addresses.split(";")

								for ip in ips %>
									<%= ip %><br />
								<% end
							end %>
						</td>
						<td><%= person.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
						<td><%= person.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
						<td><%if !person.last_login.nil? %><%= person.last_login.strftime("%Y-%m-%d %H:%M:%S") %><% end %></td>
						<td>
							<% if @user.id == person.id or @user.privilege_level > person.privilege_level %>
								<%= link_to image_tag(image_path("icons/16x16/edit.png"), :border => "0", :title => "Edit", :alt => "Edit"), edit_admin_person_path(person) %>
								<%= link_to image_tag(image_path("icons/16x16/remove.png"), :border => "0", :title => "Delete", :alt => "Delete"), admin_person_path(person), :method => :delete, :confirm => "Are you sure you want to delete this person? This action cannot be undone!" %>
							<% else %>
								<%= image_tag(image_path("icons/16x16/edit.png"), :border => "0", :title => "Cannot Edit", :alt => "Cannot Edit") %>
								<%= image_tag(image_path("icons/16x16/remove.png"), :border => "0", :title => "Cannot Delete", :alt => "Cannot Delete") %>
							<% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<div class="grid_12">
			<div class="clearfix">&nbsp;</div>
			<div id="pagination">
				<%= will_paginate @people %>
			</div>
		</div>
		<div class="clearfix">&nbsp;</div>
	</div>
<% end %>
