<div class="add-link">
	<a onclick="return loadpage('<% new_admin_person_path %>');"><%= image_tag(image_path("icons/32x32/user-add.png"), :title => "New User", :alt => "New User") %>Add New User</a>
</div>
<table>
	<tbody>
		<tr>
			<th class="lefttop-radius">
				ID
			</th>
			<th>
				Login name
			</th>
			<th>
				Name
			</th>
			<th>
				Email Address
			</th>
			<th>
				Phone Number
			</th>
			<th class="showonlyland">
				Privilege Level
			</th>
			<th class="righttop-radius">
				Actions
			</th>
		</tr>
		<% even_row = false %>
		<% for person in @people %>
			<%if even_row %><tr class="t-color"><% else %><tr><% end %><% even_row = !even_row %>
				<td>
					<a onclick="return loadpage('<%= admin_person_path(person) %>');"><%= person.id %></a>
				</td>
				<td>
					<a onclick="return loadpage('<%= admin_person_path(person) %>');"><%= person.name %></a>
				</td>
				<td>
					<a onclick="return loadpage('<%= admin_person_path(person) %>');"><%= person.first_name + " " + person.last_name %></a>
				</td>
				<td>
					<a href="mailto:<%= person.email_address %>"><%= person.email_address %></a>
				</td>
				<td>
					<a href="tel:<%= person.phone_number %>"><%= person.phone_number %></a>
				</td>
				<td class="showonlyland">
					<%= person.privilege_level %>
				</td>
				<td class="center">
					<% if @user.id == person.id or @user.privilege_level > person.privilege_level %>
						<a onclick="return loadpage('<%= edit_admin_person_path(person) %>');"><%= image_tag(image_path("icons/16x16/edit.png"), :title => "Edit", :alt => "Edit") %></a>
						<%= link_to image_tag(image_path("icons/16x16/remove.png"), :title => "Delete", :alt => "Delete"), admin_person_path(person), :method => :delete, :confirm => "Are you sure you want to delete this person? This action cannot be undone!" %>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
<%= will_paginate @people, :renderer => 'AjaxLinkRenderer' %>
