<nav id="main">
	<ul>
		<li>
			<a onclick="return loadpage('<%= admin_people_path %>');">
				<div class="image">
					<%= image_tag(image_path("icons/128x128/users.png"), :alt => "Users") %>
				</div>
				<div class="title">
					Users
				</div>
			</a>
		</li>
		<li>
			<a onclick="return loadpage('<%= admin_pages_path %>');">
				<div class="image">
					<%= image_tag(image_path("icons/128x128/page.png"), :alt => "Page") %>
				</div>
				<div class="title">
					Pages
				</div>
			</a>
		</li>
		<li>
			<a onclick="return loadpage('<%= admin_blogs_path %>');">
				<div class="image">
					<%= image_tag(image_path("icons/128x128/blog-post.png"), :alt => "Blog Posts") %>
				</div>
				<div class="title">
					Blog Posts
				</div>
			</a>
		</li>
		<li>
			<a onclick="return loadpage('<%= admin_agents_path %>');">
				<div class="image">
					<%= image_tag(image_path("icons/128x128/she-users.png"), :alt => "Agents") %>
				</div>
				<div class="title">
					Agents
				</div>
			</a>
		</li>
		<li>
			<a onclick="return loadpage('<%= admin_agent_resources_path %>');">
				<div class="image">
					<%= image_tag(image_path("icons/128x128/attachment.png"), :alt => "Agent Resources") %>
				</div>
				<div class="title">
					Agent Resources
				</div>
			</a>
		</li>
		<li>
			<a onclick="return loadpage('<%= admin_pictures_path %>');">
				<div class="image">
					<%= image_tag(image_path("icons/128x128/image.png"), :alt => "Pictures") %>
				</div>
				<div class="title">
					Pictures
				</div>
			</a>
		</li>
		<li>
			<a onclick="return loadpage('<%= admin_root_path %>');">
				<div class="image">
					<%= image_tag(image_path("icons/128x128/comments.png"), :alt => "Message Board") %>
				</div>
				<div class="title">
					Message Board
				</div>
			</a>
		</li>
		<li>
			<a onclick="return loadpage('<%= admin_logger_events_path %>');">
				<div class="image">
					<%= image_tag(image_path("icons/128x128/database.png"), :alt => "Event Log") %>
				</div>
				<div class="title">
					Event Log
				</div>
			</a>
		</li>
		<li>
			<a onclick="return loadpage('<%= admin_root_path %>');">
				<div class="image">
					<%= image_tag(image_path("icons/128x128/chart.png"), :alt => "Statistics") %>
				</div>
				<div class="title">
					Statistics
				</div>
			</a>
		</li>
	</ul>
</nav>
