<% form_for [:admin, @blog] do |f| %>
	<fieldset>
		<p>
			<label for="blog_title">Blog Post Title:</label>
			<%= f.text_field :title, :class => "text small" %>
		</p>
		<p>
			<label for="blog_body">Blog Body:</label>
			<%= f.text_area :body, :class => "text large" %>
		</p>
		<p>
			<label for="blog_style">Blog CSS Style:</label>
			<%= f.text_area :style, :class => "text large" %>
		</p>
		<p>
			<label for="blog_meta_description">Meta Description:</label>
			<%= f.text_field :meta_description, :class => "text medium" %>
		</p>
		<p>
			<label for="blog_meta_keywords">Meta Keywords:</label>
			<%= f.text_field :meta_keywords, :class => "text medium" %>
		</p>
		<br />
		<%= submit_tag "Submit", :class => "submit" %>
	</fieldset>
<% end %>
