<div class="add-link">
	<a onclick="return loadpage('<% new_admin_blog_path %>');"><%= image_tag(image_path("icons/32x32/blog-post-add.png"), :title => "New Blog Post", :alt => "New Blog Post") %>Add New Agent Resource</a>
</div>
<table>
	<tbody>
		<tr>
			<th class="lefttop-radius">
				ID
			</th>
			<th>
				Poster
			</th>
			<th>
				Title
			</th>
			<th class="righttop-radius">
				Actions
			</th>
		</tr>
		<% even_row = false %>
		<% for blog in @blogs %>
			<%if even_row %><tr class="t-color"><% else %><tr><% end %><% even_row = !even_row %>
				<td>
					<a onclick="return loadpage('<%= admin_blog_path(blog) %>');"><%= blog.id %></a>
				</td>
				<td>
					<% if !blog.person_id.blank? and !blog.person.nil? %>
						<a onclick="return loadpage('<%= admin_person_path(blog.person) %>');"><%= blog.person %></a>
					<% else %>
						-
					<% end %>
				</td>
				<td>
					<a onclick="return loadpage('<%= admin_blog_path(blog) %>');"><%= blog.title %></a>
				</td>
				<td class="center">
					<a onclick="return loadpage('<%= edit_admin_blog_path(blog) %>');"><%= image_tag(image_path("icons/16x16/edit.png"), :title => "Edit", :alt => "Edit") %></a>
					<%= link_to image_tag(image_path("icons/16x16/remove.png"), :title => "Delete", :alt => "Delete"), admin_blog_path(blog), :method => :delete, :confirm => "Are you sure you want to delete this blog post? This action cannot be undone!" %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
<%= will_paginate @blogs, :renderer => 'AjaxLinkRenderer' %>
