<% form_tag edit_multiple_admin_blogs_path, :id => "blog_index_form" do %>
	<div class="container_12">
		<h2>Blog Posts</h2>
		<p>
			This is a list of all the site's blog posts. From here you can view, modify, or delete any post.
		</p>
		<div class="clearfix">&nbsp;</div>
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tbody>
				<tr class="even">
					<th scope="col">
						<input class="check_all" type="checkbox">
					</th>
					<th scope="col">
						<% if params[:sort] == "id" and params[:order] == "ASC" %>
							<%= link_to("ID", admin_blogs_path(:order => "DESC", :sort => :id)) %>
						<% else %>
							<%= link_to("ID", admin_blogs_path(:order => "ASC", :sort => :id)) %>
						<% end %>
					</th>
					<th scope="col">
						<% if params[:sort] == "title" and params[:order] == "ASC" %>
							<%= link_to("Title", admin_blogs_path(:order => "DESC", :sort => :title)) %>
						<% else %>
							<%= link_to("Title", admin_blogs_path(:order => "ASC", :sort => :title)) %>
						<% end %>
					</th>
					<th scope="col">
						<% if params[:sort] == "created_at" and params[:order] == "ASC" %>
							<%= link_to("Created At", admin_blogs_path(:order => "DESC", :sort => :created_at)) %>
						<% else %>
							<%= link_to("Created At", admin_blogs_path(:order => "ASC", :sort => :created_at)) %>
						<% end %>
					</th>
					<th scope="col">
						<% if params[:sort] == "updated_at" and params[:order] == "ASC" %>
							<%= link_to("Updated At", admin_blogs_path(:order => "DESC", :sort => :updated_at)) %>
						<% else %>
							<%= link_to("Updated At", admin_blogs_path(:order => "ASC", :sort => :updated_at)) %>
						<% end %>
					</th>
					<th scope="col">
						Actions
					</th>
				</tr>
				<% even_row = false %>
				<% for blog in @blogs %>
					<%if even_row %><tr class="even"><% else %><tr><% end %><% even_row = !even_row %>
						<td scope="col">
							<%= check_box_tag "blog_ids[]", blog.id %>
						</td>
						<td scope="col"><%= link_to(blog.id, admin_blog_path(blog)) %></td>
						<td scope="col"><%= link_to(blog.title, admin_blog_path(blog)) %></td>
						<td scope="col"><%= blog.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
						<td scope="col"><%= blog.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
						<td scope="col">
							<%= link_to image_tag(image_path("icons/16x16/edit.png"), :border => "0", :title => "Edit", :alt => "Edit"), edit_admin_blog_path(blog) %>
							<%= link_to image_tag(image_path("icons/16x16/remove.png"), :border => "0", :title => "Delete", :alt => "Delete"), admin_blog_path(blog), :method => :delete, :confirm => "Are you sure you want to delete this blog post? This action cannot be undone!" %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<div class="grid_12">
			<div class="clearfix">&nbsp;</div>
			<div id="pagination">
				<%= will_paginate @blogs %>
			</div>
		</div>
		<div class="clearfix">&nbsp;</div>
	</div>
<% end %>
