<h2>Showing Blog Post: <%= @blog.title %></h2>
<h4>bloged By: <%= @blog.person.first_name %> <%= @blog.person.last_name %></h4>
<h4>Body:</h4>
<p class="show">
	<% if !@blog.body.blank? %>
		<%= h(@blog.body) %>
	<% end %>
</p>
<h4>CSS Style:</h4>
<p class="show">
	<% if !@blog.style.blank? %>
		<%= h(@blog.style) %>
	<% end %>
</p>
<h4>Meta Description:</h4>
<p class="show">
	<% if !@blog.meta_description.blank? %>
		<%= h(@blog.meta_description) %>
	<% end %>
</p>
<h4>Meta Keywords:</h4>
<p class="show">
	<% if !@blog.meta_keywords.blank? %>
		<%= h(@blog.meta_keywords) %>
	<% end %>
</p>
<h4>Created at: <%= @blog.created_at.strftime("%Y-%m-%d %H:%M:%S") %></h4>
<h4>Last Updated at: <%= @blog.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></h4>
<p class="show">
	<%= link_to("Edit Blog Post", edit_admin_blog_path(@blog)) %> |
	<%= link_to("Delete Blog Post", admin_blog_path(@blog), :method => :delete, :confirm => "Are you sure you want to delete this blog post? This action cannot be undone!") %>
</p>
