<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>
		CEDA Realty<% if !@page_title.blank? %> - <%= @page_title %><% end %>
	</title>
	<meta name="description" content="<% if !@meta_description.blank? %><%= @meta_description %><% else %>CEDA Realty, reinventing the real estate experience!<% end %>">
	<meta name="author" content="CEDA Realty">
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no">
	<%= stylesheet_link_tag "reset.css" %>
	<%= stylesheet_link_tag "agent_mobile.css" %>
	<%= javascript_include_tag "jquery-1.3.2.min.js" %>
	<%= javascript_include_tag "agent_mobile.js" %>
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png" />
</head>
<body class="up">
	<div style="display: none;" id="ajax-loading" class="center">
		<%= image_tag(image_path("ajax.gif"), :alt => "Loading...") %>
	</div>
	<div id="page">
		<header>
			<div id="home-link">
				<a onclick="return loadpage('<%= agent_root_path %>');" title="Mobile Office Home"><%= image_tag(image_path("icons/32x32/home.png"), :alt => "Mobile Office Home") %></a>
			</div>
			<h1><%= @page_title %></h1>
			<div id="logout-link">
				<%= link_to(image_tag(image_path("icons/32x32/logout.png"), :alt => "Log Out"), @application_session, :method => :delete, :title => "Log Out") %>
			</div>
		</header>
		<% if flash[:notice] %>
			<div id="flash_notice" class="notification <%= flash[:type] %> click-to-close">
				<div><%= flash[:notice] %></div>
			</div>
		<% end %>
		<% if flash[:debug] %>
			<div id="flash_debug" class="notification information click-to-close">
				<div><%= debug flash[:debug] %></div>
			</div>
		<% end %>
		<div id="content">
			<%= yield %>
		</div>
		<footer>
			<p>&copy; Content Copyright <%= Time.now.year %> Ceda Realty<br />
			Created with <a href="http://rubyonrails.org/">Ruby on Rails</a> by <a href="http://seaneshbaugh.com/">Sean Eshbaugh</a>
		</footer>
	</div>
</body>
</html>
